<div class="home-heigh">
    <div class="home d-flex justify-content-center align-items-center text-white ">
        <div class="text-center"><img src="./assets/images/avataaars.svg" alt="" class="mb-3">
            <div class="text-center pt-4" style="color: white;">
                <h2 class="text-uppercase mb-3 fs-1 fw-bolder">start Framework</h2>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="line me-3" style="background-color: white;"></div>
                    <i class="fa-solid fa-star"></i>
                    <div class="line ms-3" style="background-color: white;"></div>
                </div>
            </div>

            <div>Graphic Artist - Web Designer - Illustrator</div>
        </div>
    </div>
</div>